<h1>Listing familles</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <% unless current_user.nil?  %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @familles.each do |famille| %>
      <tr>
        <td><%= famille.nom %></td>
        <% unless current_user.nil?  %>
          <td><%= link_to 'Show', famille %></td>
          <td><%= link_to 'Edit', edit_famille_path(famille) %></td>
          <td><%= link_to 'Destroy', famille, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% unless current_user.nil?  %>
  <%= link_to 'New Famille', new_famille_path, :class => "button" %>
<% end %>