<%= form_for(@vegetable) do |f| %>
  <% if @vegetable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vegetable.errors.count, "error") %> prohibited this vegetable from being saved:</h2>

      <ul>
      <% @vegetable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label :nom_common %><br>
    <%= f.text_field :nom_common %>
  </div>
  <div class="field">
    <%= f.label :famille_id %>
    <%= collection_select(:vegetable, :famille_id, Famille.all, :id, :nom, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :classe %><br>
    <%= f.text_field :classe %>
  </div>
  <div class="field">
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </div>
  <div class="field">
    <%= f.label :espece %><br>
    <%= f.text_field :espece %>
  </div>
  <div class="field">
    <%= f.label :origine_geographique %><br>
    <%= f.text_field :origine_geographique %>
  </div>
  <div class="field">
    <%= f.label :cycle_biologique %><br>
    <%= f.text_field :cycle_biologique %>
  </div>
  <div class="field">
    <%= f.label :racine %><br>
    <%= f.text_field :racine %>
  </div>
  <div class="field">
    <%= f.label :tige %><br>
    <%= f.text_field :tige %>
  </div>
  <div class="field">
    <%= f.label :feuillage %><br>
    <%= f.text_field :feuillage %>
  </div>
  <div class="field">
    <%= f.label :fleur %><br>
    <%= f.text_field :fleur %>
  </div>
  <div class="field">
    <%= f.label :fruit %><br>
    <%= f.text_field :fruit %>
  </div>
  <div class="field">
    <%= f.label :graine %><br>
    <%= f.text_field :graine %>
  </div>
  <div class="field">
    <%= f.label :modes_de_multiplication_possibles %><br>
    <%= f.text_field :modes_de_multiplication_possibles %>
  </div>
  <div class="field">
    <%= f.label :systemes_de_production_adaptes %><br>
    <%= f.text_field :systemes_de_production_adaptes %>
  </div>
  <div class="field">
    <%= f.label :mise_en_place_de_la_culture %><br>
    <%= f.text_field :mise_en_place_de_la_culture %>
  </div>
  <div class="field">
    <%= f.label :calendrier_cultural %><br>
    <%= f.text_field :calendrier_cultural %>
  </div>
  <div class="field">
    <%= f.label :entretien_de_la_culture %><br>
    <%= f.text_field :entretien_de_la_culture %>
  </div>
  <div class="field">
    <%= f.label :exigences_edaphiques_ideales %><br>
    <%= f.text_field :exigences_edaphiques_ideales %>
  </div>
  <div class="field">
    <%= f.label :irrigation %><br>
    <%= f.text_field :irrigation %>
  </div>
  <div class="field">
    <%= f.label :fertilisation %><br>
    <%= f.text_field :fertilisation %>
  </div>
  <div class="field">
    <%= f.label :problemes_phytosanitaires_et_protections_adaptees %><br>
    <%= f.text_field :problemes_phytosanitaires_et_protections_adaptees %>
  </div>
  <div class="field">
    <%= f.label :importance_economique %><br>
    <%= f.text_field :importance_economique %>
  </div>
  <div class="field">
    <%= f.label :utilisation %><br>
    <%= f.text_field :utilisation %>
  </div>
  <div class="field">
    <%= f.label :diversification %><br>
    <%= f.text_field :diversification %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
