<h1>Listing vegetaux</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Nom</th>
      <th>Nom commun</th>
      <th>Famille</th>
      <% unless current_user.nil?  %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @vegetaux.each do |vegetable| %>
      <tr>
        <td><%= image_tag vegetable.photo.url(:thumb) %></td>
        <td><%= vegetable.nom %></td>
        <td><%= vegetable.nom_commun %></td>
        <td><%= vegetable.famille.nom %></td>
        <% unless current_user.nil?  %>
          <td><%= link_to 'Show', vegetable %></td>
          <td><%= link_to 'Edit', edit_vegetable_path(vegetable) %></td>
          <td><%= link_to 'Destroy', vegetable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% unless current_user.nil?  %>
  <%= link_to 'New Vegetable', new_vegetable_path, :class => "button" %>
<% end %>
