<p id="notice"><%= notice %></p>

<p>
  <strong>Nom common:</strong>
  <%= @vegetable.nom_common %>
</p>

<p>
  <strong>Famille:</strong>
  <%= @vegetable.famille %>
</p>

<p>
  <strong>Classe:</strong>
  <%= @vegetable.classe %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @vegetable.genre %>
</p>

<p>
  <strong>Espece:</strong>
  <%= @vegetable.espece %>
</p>

<p>
  <strong>Origine geographique:</strong>
  <%= @vegetable.origine_geographique %>
</p>

<p>
  <strong>Cycle biologique:</strong>
  <%= @vegetable.cycle_biologique %>
</p>

<p>
  <strong>Racine:</strong>
  <%= @vegetable.racine %>
</p>

<p>
  <strong>Tige:</strong>
  <%= @vegetable.tige %>
</p>

<p>
  <strong>Feuillage:</strong>
  <%= @vegetable.feuillage %>
</p>

<p>
  <strong>Fleur:</strong>
  <%= @vegetable.fleur %>
</p>

<p>
  <strong>Fruit:</strong>
  <%= @vegetable.fruit %>
</p>

<p>
  <strong>Graine:</strong>
  <%= @vegetable.graine %>
</p>

<p>
  <strong>Modes de multiplication possibles:</strong>
  <%= @vegetable.modes_de_multiplication_possibles %>
</p>

<p>
  <strong>Systemes de production adaptes:</strong>
  <%= @vegetable.systemes_de_production_adaptes %>
</p>

<p>
  <strong>Mise en place de la culture:</strong>
  <%= @vegetable.mise_en_place_de_la_culture %>
</p>

<p>
  <strong>Calendrier cultural:</strong>
  <%= @vegetable.calendrier_cultural %>
</p>

<p>
  <strong>Entretien de la culture:</strong>
  <%= @vegetable.entretien_de_la_culture %>
</p>

<p>
  <strong>Exigences edaphiques ideales:</strong>
  <%= @vegetable.exigences_edaphiques_ideales %>
</p>

<p>
  <strong>Irrigation:</strong>
  <%= @vegetable.irrigation %>
</p>

<p>
  <strong>Fertilisation:</strong>
  <%= @vegetable.fertilisation %>
</p>

<p>
  <strong>Problemes phytosanitaires et protections adaptees:</strong>
  <%= @vegetable.problemes_phytosanitaires_et_protections_adaptees %>
</p>

<p>
  <strong>Importance economique:</strong>
  <%= @vegetable.importance_economique %>
</p>

<p>
  <strong>Utilisation:</strong>
  <%= @vegetable.utilisation %>
</p>

<p>
  <strong>Diversification:</strong>
  <%= @vegetable.diversification %>
</p>

<%= link_to 'Edit', edit_vegetable_path(@vegetable) %> |
<%= link_to 'Back', vegetaux_path %>
