<!DOCTYPE html>
<html>
<head>
  <title>Vegetaux</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="modal-window">
  <p>Something here</p>
</div>
<div id="modal-window-bg"></div>

<div class="main-content">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash" %>
  <% end %>
  <%= yield %>
</div>

<footer class="site-footer">
  <div class="content">
    <p class="authentication-link">
      <% if signed_in? %>
        <%= link_to "Sign Out", sign_out_path %>
      <% else %>
        <%= link_to "Sign In", sign_in_path, class: "sign-in-link", remote: true %>
      <% end %>
    </p>

    <% if signed_in? %>
      <p><%= link_to "Familles", familles_path %> | <%= link_to "Vegetaux", vegetaux_path %></p>
    <% else %>
      <p>Reconnaissance des végétaux</p>
    <% end %>
  </div>

</footer>

</body>
</html>
